.product-list-2
  - skus.each_with_index do |sku, index| 
    %a{href: "/jdsku/#{sku.id}/", target: "_blank"}
      .product-item
        .img-area
          %img{src: "#{sku.img_url}"}
          .mask
            %p.title #{sku.title}
            %p.price-area
              %span.price ￥#{sku.price}
              - if sku.o_price > 0
                %span.o-price 原价 ￥#{sku.o_price}
              - else
                %span.o-price 去看看 别错过
      .product-item
        %p.desc #{sku.description}
