- title("熊猫123-东方家家环球购物指南-熊猫优选")
- head_desc("熊猫优选官网 - 1折券、2折券、5折券、对折券，淘宝天猫优惠券、折扣券免费领。熊猫优选官方下载，网红力荐。熊猫优选app最新版,IOS 安卓官方下载。")
- keywords("熊猫123,熊猫优选,xiongmao123,熊猫优选官网,熊猫优选优惠券,熊猫优选下载,购物指南,家家购物,环球购物,东方购物")
- path(@path)
- h1("熊猫优选")

.wrapper
  %h2.sno
    %a{href: "/cc/7/"} 精选
  = render partial: "jd_media/collection_list", locals: {cs: @cs7}
  %h2
    %a{href: "/cc/1/"} 服饰
  = render partial: "jd_media/collection_list", locals: {cs: @cs1}
  %h2
    %a{href: "/cc/2/"} 礼物
  = render partial: "jd_media/collection_list", locals: {cs: @cs2}
  %h2
    %a{href: "/cc/3/"} 美妆
  = render partial: "jd_media/collection_list", locals: {cs: @cs3}
  %h2
    %a{href: "/cc/4/"} 娱乐
  = render partial: "jd_media/collection_list", locals: {cs: @cs4}
  %h2
    %a{href: "/cc/5/"} 美食
  = render partial: "jd_media/collection_list", locals: {cs: @cs5}
  %h2
    %a{href: "/cc/6/"} 阅读
  = render partial: "jd_media/collection_list", locals: {cs: @cs6}
