- title("#{@collection.title}_熊猫优选")
- head_desc("#{@collection.title},#{@collection.description} - 熊猫优选 xiongmao123.com")
- keywords("熊猫123,熊猫优选,xiongmao123,#{@collection.title}")
- path(@path)
- h1(@collection.title)

.wrapper
  %img{src: "#{@collection.img_url}"}
  %p.collection-title #{@collection.title}
  %p.collection-desc #{@collection.description}
  %p.sno
    %a{href: "/"} 熊猫优选
    %a{href: "/cc/#{@collection.category}/"} 购物指南
  = render partial: "jd_media/sku_list_1", locals: {skus: @skus}
  = render partial: "jd_media/collection_list", locals: {cs: @cs}
= render partial: "layouts/footer"
