- title("#{@title}_熊猫优选")
- head_desc("熊猫优选官网 - 1折券、2折券、5折券、对折券，淘宝天猫优惠券、折扣券免费领。熊猫优选官方下载，网红力荐。熊猫优选app最新版,IOS 安卓官方下载。")
- keywords("熊猫123,熊猫优选,xiongmao123,熊猫优选官网,熊猫优选优惠券,熊猫优选下载,购物指南,家家购物,环球购物,东方购物")
- path(@path)
- h1(@title)

.wrapper
  = render partial: "jd_media/collection_list", locals: {cs: @cs}
  .sno
    %p 
      页码:
      - (0..@page_count).to_a.each do |num|
        %a{href: "#{@path}?page=#{num}"} 第#{num}页
      
= render partial: "layouts/footer"
