.product-list
  - (0..((skus.size * 1.0 / 2.0).ceil - 1)).each do |row|
    .product-row
      - (0..1).each do |col| 
        - sku = skus[row * 2 + col]
        - if sku
          .product-box
            %a{href: "/zp/#{sku.id}/", title: "#{sku.dtitle.empty? ? sku.title : sku.dtitle}"}
              %img{src: "#{sku.mainPic}", alt: "#{sku.dtitle.empty? ? sku.title : sku.dtitle}"}
              %p.title #{sku.dtitle.empty? ? keywords.inject(sku.title){|r, e| r.gsub(e, "<strong>#{e}</strong>")}.html_safe : keywords.inject(sku.dtitle){|r, e| r.gsub(e, "<strong>#{e}</strong>")}.html_safe} 
              %p.price 
                ￥#{sku.actualPrice}
                %span.o-price 原价￥#{sku.originalPrice}
