- title("#{@shop.shopName}-商家推荐-熊猫装饰画网")
- head_desc("#{@shop.shopName}是一家#{@shop.shopLevel}级的#{@shop.shopType == 1 ? "天猫" : "淘宝"}店铺，综合评价较高，受到多数用户认可。熊猫装饰画网，为您推荐2021装饰画大全，各种场景与风格，尽量满足您的美感与使用需求，提供装饰画的购买渠道、报价以及图片赏析等服务。装饰画包含黑白、色彩、线描、人物风景、家居家庭、客厅卧室、电表箱、玄关、墙上、手绘壁画印刷装饰画等，请您随意挑选！")
- keywords("#{@shop.shopName},#{@shop.shopName}首页,#{@shop.shopName}怎么样")
- path(@path)

.wrapper{style: "margin-bottom: 10px;"}
  .comment
    .avatar-area
      %img{src: "#{@shop.shopLogo}"}
    %p.desc{style: "line-height: 60px;font-size: 18px;color: #555;font-weight: 600;"}
      #{@shop.shopName}
  = render partial: "item_list", locals: {skus: @r}

  %section.c-list
    %h2{style: "font-size:18px;color:#555;padding: 20px 20px 10px 20px;"} 更多商家推荐
    %hr
    - @ss.each do |s|
      .comment
        .avatar-area
          %a{href: "/zs/#{s.id}/"}
            %img{src: "#{s.shopLogo}"}
        %p.desc{style: "line-height: 60px;font-size: 18px;color: #555;font-weight: 600;"}
          %a{href: "/zs/#{s.id}/"}
            #{s.shopName}

= render partial: "layouts/footer"
